
//colors
$light-bg:#ffffff;
$light-header-bg: #ffffff;
$light-text-color: #111517;
$light-search-color: #848484;

$dark-bg: #202C36;
$dark-header-bg: #2B3844;
$dark-text-color: #ffffff;
$dar-search-color: #ffffff;
