@use 'mixins' as *;
@use 'variables' as *;


.container{
    padding-inline: 80px;
   padding-block: 50px;
   margin: auto;
   a{
        @include flex($gap:10px,$align:center);
            padding: 0.7rem 1.7rem;
            cursor: pointer;
            &:focus{
                outline: none;
            }
            background-color: var(--header-color);
             box-shadow: 0px 0px 2px 1px $shardow-color;
            border-radius: 2px;
            outline: none;
            border: none;
            color: var(--text-color);
            @include TextPreset8;
            text-decoration: none;
            .path{
                fill: var(--text-color);
            }
        
   }
    @include flex($direction:column,$gap:4rem);
    max-width:1280px;
    nav{
    @include flex($align:center,$gap:10px);
   
    }
    .info{
        @include flex($align:center,$gap:144px);
       width: inherit;
        @media(max-width:992px){
            gap:1rem;
        
    }
    @media(max-width:768px){
            flex-direction: column;
    }
      @media(max-width:400px){
            gap:0.3rem;

    }
    }
    .img{
        flex:0.4;
        border-radius: 10px;
        box-shadow: 0px 0px 14px 4px $shardow-color;
        height: 400px;
        img{
            width: 100%;
             min-height: 200px;
            object-fit: fill;
            height: 100%;
        }
            @media (max-width:992px) {
            flex:0.5;
        }
    }
    .sideinfo{
        flex:0.6;
         @include flex($direction:column,$gap:3rem);
        .infotop{
            @include flex($direction:column,$gap:24px);
            width:100%;
             .country-details{
                width:inherit;
        @include flex($justify: space-between,$align:start);
        @media(max-width:768px){
            @include flex($direction: column,$gap:2rem);
        }
    }
        }
        @media (max-width:992px) {
            flex:0.5;
        }
    }
    h2{
        @include TextPreset1;
        font-size: 32px;
      
    }
   
    .ldetails,.rdetails {
        @include TextPreset6;
        line-height: 32px;
        span{
            @include TextPreset7;
        }
    }
    .infocontainer{
    @include flex($direction:column,$justify:start,$gap:70px);
}
.border-countries-heading-box{
    @include flex($align:center,$gap:15px);
    flex-wrap: wrap;
    h3{
        width:max-content;
    }
    #border-countries-heading{
        @include TextPreset7;
    }
    .border-buttons{
        @include flex($align:center,$gap:10px);
        flex-wrap: wrap;
        button{
            padding: 2px 28px;
            cursor: pointer;
            &:focus{
                outline: none;
            }
            background-color: var(--header-color);
             box-shadow: 0px 0px 2px 1px $shardow-color;
            border-radius: 2px;
            outline: none;
            border: none;
            color: var(--text-color);
            @include TextPreset8;
        }
        @media (max-width:768px) {
            text-wrap: wrap;
        }
    }
    @media(max-width:768px){
        @include flex($direction:column)
    }
}
    @media(max-width:1224px){
        padding-block: 1rem;
    }
   
}
